@inherits LayoutComponentBase
@using Client.Components
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
@* @inject PopupViewModel PopupVM *@
@using Client.Components.Popup

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tourplanner</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="tours" Match="NavLinkMatch.All">
                        Tours
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="new">
                        Add Tour
                    </NavLink>
                </li>
            </ul>
           <div class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" @bind="SearchValue">
                @* <button class="btn btn-primary" @onclick="() => TriggerSearch()">Search</button> *@
                <button class="btn btn-primary" >Search</button>
            </div>
        </div>
    </div>
</nav>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Popup></Popup>
@code
{
    [Inject] private PopupViewModel PopupVM { get; set; }
    
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
    private string SearchValue { get; set; }

    private async Task TriggerSearch()
    {

        if(string.IsNullOrWhiteSpace(SearchValue))
            return;

        var encodedSearchValue = Uri.EscapeDataString(SearchValue);
        NavManager.NavigateTo($"/tours/search?search={encodedSearchValue}");
    }

    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
