.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.sidebar {
  background: white;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.09);
  position: fixed;
  z-index: 10;
  padding-top: 2.5rem;
  padding-left: 1rem;
}

.top-row {
  background-color: #ffffff;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

#app-title {
  font-weight: 500;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
  text-decoration: underline;
}

.top-row ::deep a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1130px) {
  .top-row {
    justify-content: space-between;
  }

  .top-row ::deep a,
  .top-row ::deep .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 1130px) {
  .page {
    flex-direction: row;
  }

  .sidebar {
    width: 200px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth ::deep a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row,
  article {
    max-width: 85rem;
    margin: 0 auto;
  }
}

#search-input {
  height: 2rem;
}