@inherits LayoutComponentBase
@using Client.Components

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="row px-4 py-3">
            <div class="d-flex flex-col align-items-center justify-content-center">
                <div class="col text-center">
                    <h6 class="mb-0" id="app-title">Tour planner</h6>
                </div>
                <div>
                    <input type="text" id="search-input" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon1">
                </div>  
            </div>
        </div>

        <article class="content px-4">
            @* @Body *@
        </article>
    </main>
</div>