@page "/new"
@attribute [StreamRendering]
@inject TourAddPageViewModel AddTourVM
@using Client.Components
@using Client.Models

<PageTitle>Add Tour</PageTitle>

<h1>Add Tour</h1>


    <div class="form-group mt-3">
        <div class="row">
            @* Tour name *@
            <div class="col">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" @bind="AddTourVM.Tour.Name">
            </div>
            @* Transport Type *@
            <div class="col">
                <label for="transporttype">Transport Type</label>
                <select class="form-control" id="transporttype" @bind="AddTourVM.Tour.TransportType">
                    @foreach (var type in Enum.GetValues<TransportType>())
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group mt-3">
        <div class="row">
            @* From *@
            <div class="col">
                <label for="from">From</label>
                <input type="text" class="form-control" id="from" placeholder="Enter start" @bind="AddTourVM.Tour.From">
            </div>
            @* To *@
            <div class="col">
                <label for="to">To</label>
                <input type="text" class="form-control" id="to" placeholder="Enter destination"
                    @bind="AddTourVM.Tour.To">
            </div>
        </div>
    </div>

    @* Description *@
    <div class="form-group mt-3">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" placeholder="Enter description"
            @bind="AddTourVM.Tour.Description"></textarea>
    </div>

    <Button ButtonType="Primary" mt="4" Label="Add" Icon="map" OnClickCallback="AddTourVM.AddTour"/>
