.tp-button {
    max-width: 10rem;
    height: 2.5rem;
    background: white;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.33); */
    align-content: space-evenly;
    align-items: center;
    transition: all 90ms;
}

.tp-button.icon {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: auto;
    grid-template-areas: "icon label";
    padding: 0px 0.5rem 0px 1.1rem;
}

.tp-button:disabled {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.33);
    border: 0.5px solid darkgray;
    filter: saturate(0.0);
}

.tp-button:disabled:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.33);
    border: 0.5px solid darkgray;
    filter: saturate(0.0);
}

.tp-button-icon-wrapper {
    grid-area: icon;
}

.tp-button-label
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    margin: 0 0.5rem;
}

.tp-button.icon .tp-button-label {
    grid-area: label;
    text-align: left;
    margin-left: 1rem;
    padding-right: 3px;
}

.tp-button .tp-button-label {
    text-align: center;
}

.tp-button:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.33);
}

.tp-button:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.33);
    border: 0.5px solid darkgray;
}

.tp-button.Primary {
    background: #0078d4;
    color: white;
}

.tp-button.Primary:hover {
    background: #005a9e;
}

.tp-button.Secondary {
    background: #f3f2f1;
    color: black;
}

.tp-button.Secondary:hover {
    background: #e1dfdd;
}

.tp-button.Danger {
    background: #d13438;
    color: white;
}

.tp-button.Danger:hover {
    background: #a4262c;
}