<div class="nav-item px-3">
    <div class="nav-item-wrapper">
        <div class="nav-item-img-wrapper">
            <img src="Icons/route.png" alt="Map"/>
        </div>
        <NavLink class="nav-link" href="@Href" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
            @Title
        </NavLink>
    </div>
</div>

@code {
    [Parameter]
    public String? Href
    {
        get;
        set;
    } = "";

    [Parameter]
    public string? Title
    {
        get;
        set;
    }
}