@using Client.Models
@using Client.ViewModels


<div class="tour-map">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</div>

@code {
    [Parameter] MapViewModel MapVM {get; set;}
    protected override async Task OnParametersSetAsync()
    {
        await MapVM!.InitializeAsync(StateHasChanged);
    }


}